%h1= t('.title')

%table.data.box
  %thead
    %tr
      %th= t('.name')
      %th= t('.units')
      %th= t('.ram')
      %th= t('.drives')
      %th= t('.nics')
      %th= t('.cpu')
      %th= t('.hardware')
  %tbody
    - @classes.each do |n, c|
      %tr{ :class => cycle(:odd, :even, :name => "class") }
        %td
          %ul.plain
            - c[:names].each do |node|
              %li= link_to node[:alias], node_path(node[:handle]), :title=> node[:description]
        %td= c[:names].length
        %td= format_memory(c[:node_class][:ram])
        %td= c[:node_class][:drives]
        %td= c[:node_class][:nics]
        %td= c[:node_class][:cpu]
        %td= c[:node_class][:hw]
